%h1= "#{@campaign.title}"
%h2= "Sponsored by #{@campaign.sponsoring_company}"
%h3= "#{@campaign.city}, #{@campaign.state}"

%h3= "Campaign Description"
%p= "#{@campaign.description}"
%p= "Prize Amount: $#{@campaign.prize_amount}"

= link_to "Nominate a Hero", new_campaign_hero_path(@campaign)

%h3= "Hero Nominees"
- @campaign.heroes.all.each do |hero|
  %ul
    %li
      = link_to "#{hero.name}", campaign_hero_path(@campaign, hero)

