- content_for(:title, "#{@campaign.title}")

%h1= "Sponsored by #{@campaign.sponsoring_company}"
%h2= "#{@campaign.city}, #{@campaign.state}"

%h2= "Campaign Description"
%p= "#{@campaign.description}"
%p= "Prize Amount: $#{@campaign.prize_amount}"

= link_to "Nominate a Hero", new_campaign_hero_path(@campaign), class: :button

%h3= "Hero Nominees"
.nominees
  = render @campaign.heroes

